{% extends "user_base.html" %}
{% load static %}
{% block content %}

<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <!-- Header Top -->
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html">
                    <img src="{% static 'core/assets/imgs/theme/logo.svg' %}" alt="logo">
                </a>
            </div>
            <div class="mobile-menu-close close-style-wrap">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>

        <!-- Search Box -->
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>

            <!-- Quick Info -->
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html">Our location</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789</a>
                </div>
            </div>

            <!-- Social Icons -->
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="{% static 'core/assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'core/assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'core/assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'core/assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'core/assets/imgs/theme/icons/icon-youtube.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <!-- Dashboard Menu -->
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
                                            <i class="fi-rs-settings-sliders mr-10"></i>Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" id="address-tab" href="{% url 'order_list' %}" role="tab">Orders</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" id="address-tab" href="{% url 'addresses'%}" role="tab">My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'wallet' %}">
                                            <i class="fi-rs-sign-out mr-10"></i>Wallet
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" href="{% url 'wishlist'%}" role="tab">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout_view' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dashboard Content -->
                        <div class="col-sm-8">
                            <div class="tab-content dashboard-content">
                                <!-- User Profile -->
                                <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card shadow-sm border-radius-10">
                                        <div class="card-header bg-secondary text-white">
                                            <h5 class="mb-0">User Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" enctype="multipart/form-data" action="{% url 'change_image_view' %}">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        {% with user_profile.image.url as img_url %}
                                                            <img src="{{ img_url|default:'/static/user/assets/imgs/my images/user-icon-big.png' }}" alt="Profile Image" class="img-fluid rounded-circle" style="max-width: 100%; height: auto;">
                                                        {% endwith %}
                                                        <br>
                                                        <input class="form-control mt-2" type="file" name="new_image">
                                                        <button type="submit" class="btn btn-primary mt-1 py-1 shadow">Change Image</button>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p><strong>Username:</strong> {{ user.username }}</p>
                                                        <p><strong>Email:</strong> {{ user.email }}</p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Orders Tab -->

                                <!-- My Address Tab -->
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {% for address in addresses %}
                                                <div class="card mb-3 shadow-sm border-radius-10">
                                                    <div class="card-header bg-info text-white">
                                                        <h5 class="mb-0">Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>
                                                            {{ address.first_name }} {{ address.last_name }}<br>
                                                            {{ address.address }}<br>
                                                            {{ address.city }}, {{ address.state }} {{ address.zipcode }}
                                                        </address>
                                                        <a href="#" class="btn btn-small btn-outline-info">Edit</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}
