<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional: Popper.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   
   <!-- Bootstrap JS -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  




<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
          </ol>
      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  {% comment %} <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'user/assets/images/backgrounds/bg.jpeg' %}')"> {% endcomment %}
      <div class="container">
          <div class="form-box">
              <div class="form-tab">
                  <ul class="nav nav-pills nav-fill" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link" id="forgot-password-tab" data-toggle="tab" href="#forgot-password" role="tab" aria-controls="forgot-password" aria-selected="false">Forgot Password</a>
                      </li>
                  </ul>

                  <div class="tab-content">
                      <div class="tab-pane fade show active" id="forgot-password" role="tabpanel" aria-labelledby="forgot-password-tab">
                          <form method="post">
                              {% csrf_token %}

                              {% for message in messages %}
                                  <p>{{ message }}</p>
                              {% endfor %}
                              <div class="form-group">
                                  <label for="forgot-email">Email address *</label>
                                  <input type="email" class="form-control" id="forgot-email" name="email" required>
                              </div><!-- End .form-group -->

                              <div class="form-footer">
                                  <button type="submit" class="btn btn-outline-primary-2">
                                      <span>RESET PASSWORD</span>
                                      <i class="icon-long-arrow-right"></i>
                                  </button>

                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="remember-forgot-password">
                                      <label class="custom-control-label" for="remember-forgot-password">Remember Me</label>
                                  </div><!-- End .custom-checkbox -->
                                  <a href="{% url 'login_view' %}" class="forgot-link">Back to Login</a>
                              </div><!-- End .form-footer -->
                          </form>
                      </div><!-- .End .tab-pane -->
                  </div><!-- End .tab-content -->
              </div><!-- End .form-tab -->
          </div><!-- End .form-box -->
      </div><!-- End .container -->
  </div><!-- End .login-page section-bg -->
</main><!-- End .main -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
