{% load static %}
{% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<main class="main">
  <link rel="stylesheet" href="{% static 'user/assets/css/main.css' %}" />

  <section class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-4 col-10">
      <div class="card shadow-sm p-4 border-0">
        <h3 class="text-center fw-bold mb-3">Log in</h3>
        <form method="post" action="{% url 'login_view' %}">
          {% csrf_token %}

          {% for message in messages %}
          <div class="alert alert-info text-center" role="alert">
            {{ message }}
          </div>
          {% endfor %}

          <!-- Email Field -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
              value="{{ request.POST.email|default:'' }}"
            />
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
              minlength="8"
            />
          </div>

          <!-- Submit Button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">
              Login
            </button>
          </div>

          <!-- Links -->
          <div class="text-center mt-3">
            <p class="mb-2">
              <a href="{% url 'forgot_password' %}" class="text-decoration-none"
                >Forgot Password?</a
              >
            </p>
            <p>
              Don't have an account?
              <a href="{% url 'signup_view' %}" class="text-decoration-none"
                >Register here</a
              >.
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
