{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/imgs/theme/favicon.svg' %}">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
    <header class="main-header style-2 navbar">
        <div class="col-brand">
            <a href="{% url 'admin_login' %}" class="brand-wrap">
                <img src="{% static 'assets/imgs/theme/logo.svg' %}" class="logo" alt="Evara Dashboard">
            </a>
        </div>
    </header>

    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>
                <form method="post" action="{% url 'admin_login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="form-control" name="username" placeholder="Username or email" type="text">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="main-footer text-center">
        <p class="font-xs">
            <script>document.write(new Date().getFullYear())</script> ©, Evara - HTML Ecommerce Template.
        </p>
        <p class="font-xs mb-30">All rights reserved</p>
    </footer>
</main>

<!-- Prevent Back Navigation -->
<script>
    // Only run this script on the login page
    document.addEventListener("DOMContentLoaded", function () {
        // Prevent back button after logout by pushing a dummy state
        history.pushState(null, null, location.href);
        window.addEventListener("popstate", function () {
            // Redirect to login if user presses back
            location.href = "{% url 'admin_login' %}";
        });
    });
</script>

<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/main.js'%}" type="text/javascript"></script>
</body>
</html>
