{% extends "admin_base.html"  %}
{% load static %}
{% block content %}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories</h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>

        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="category_name" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="category_name" name="category_name" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="category_image" class="form-label"> Image </label>
                                <input type="file" name="category_image" class="form-control" id="category_image">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary">Create category</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>List/Unlist</th>
                                        <th class="text-end">More</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in category_list %}
                                    
                                        <tr>
                                            <td><b>{{ category.category_name }}</b></td>
                                            <td>{{ category.description|default:"No description available" }}</td>
                                            <td>
                                                {% if category.category_image %}
                                                <img src="{{ category.category_image.url }}" alt="{{ category.category_name }} Image" style="max-width: 100px; max-height: 100px;">
                                                
                                                {% else %}
                                                    No Image Available
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if category.is_blocked %}
                                                    <a class="btn btn-danger btn-sm" href="{% url 'unblock_category' category.id %}">Active</a>
                                                {% else %}
                                                <a class="btn btn-success btn-sm"  href="{% url 'block_category' category.id %}">Blocked</a>
                                                {% endif %}
                                            </td>
                                            
                                            
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
